<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/style.css" />
        <title>Schedule a hair appointment</title>
    </head>
    <body>
        <div class="container">
            <img src="../static/hair.png" alt ="Logo" class="center"/>
            <h1>Form submitted!</h1>
            <form action="/" method="POST">
                <input type="submit" value="Homepage" class="btn" />
            </form>
        </div>
    </body>
</html>